body { /*bredden på extensionet, etc.*/
    min-width: 670px;
    overflow-x: hidden;
}

#Renderlinks { /*Listan med resultatet.*/
    display:block;
    overflow:auto;
    width: auto;
}

.Thumbnail { /*Tumnagelns storlek*/
    width: 120px;
    height: 90px;
}

#videoArea { /*Här visas informationen om varje video , stylar "hela" elementet , mer specifik styling på tumnagel etc. kommer nedan*/
    border: solid 2px black;
}

#searchArea { /*topdelen, innehållet stylas nedan*/
    background-color: #C21F1F;
    border-bottom: solid 3px black;
}

#mainTitle { /*Innehållet i topdelen , sökbar samt en titel*/
    text-align: center;
    font-family: Gabriola;
    font-size: 35px;
    margin-bottom: -15px;
    margin-top:-15px;
}

#searchbar {
    margin-bottom: 8px;
    border: solid 1px black;
}
#form {
text-align:center;
}
#videoArea {
background-color:green;
height:110px;

}
#videoTitle {
background-color:transparent;
margin-top:-1px;
}
#pictureThumbnail {
margin-left:10px;
margin-top:-77.5px;
}