body {
    min-width: 670px;
    overflow-x: hidden;
}
#Renderlinks{
    height:700px;
    width:auto;
}
.Thumbnail{
    width:120px;
    height:90px;
}
#hiddenID{
    visibility:hidden;
}
#videoArea{
    border:solid 2px black;
}
#searchArea{
    margin-left:auto;
    margin-right:auto;
}